@import "tailwindcss";

@font-face {
  font-family: "Garet";
  src: url("/assets/Fonts/Garet Font/Garet-Book.ttf");
}

@font-face {
  font-family: "Milk";
  src: url("/assets/Fonts/Milk Font/TT-Milks-Casual-Pie-Trial-Base-BF664ffce52d6ab.otf")
}

@font-face {
  font-family: "Milk-Light";
  src: url("/assets/Fonts/Milk Font/TT-Milks-Casual-Pie-Trial-Line-BF664ffce581036.otf")
}

@font-face {
  font-family: "Milk-Cursive";
  src: url("/assets/Fonts/Milk Font/TT-Milks-Script-Trial-Regular-BF664ffceacb1e4.otf")
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@theme {
    --color-ck-red: #ad190e;
    --color-ck-yellow: #f0d610;
    --font-garet: "Garet", san-serif;
    --font-milk: "Milk", san-serif;
    --font-milk-light: "Milk-Light", san-serif;
    --font-milk-cursive: "Milk-Cursive", san-serif;
    --animation-slideDown: 'slideDown 0.5s ease-out forwards';
}

body{
  background-color: #da2113;
}